@model IEnumerable<ROZKLAD.Models.DbEntities.Ocinka>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Головна сторінка адміністратора</title>
</head>
<body>
    <table class="table">
        <h1 align="center">Вітаємо Вас, Адміністратор!</h1>
        <br>
        <div align="center">
            <img src="~/Content/themes/administrator.jpg" />
        </div>
        
        <h2 align="center">Під час роботи Ви можете скористатися випадаючим меню.</h2>
    </table>
</body>
</html>

