
@{
    Layout = "~/Views/Shared/_Others.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>КОНСОЛІДОВАНИЙ ІНФОРМАЦІЙНИЙ РЕСУРС КОНТРОЛЮ ОЦІНЮВАННЯ ЗНАНЬ СТУДЕНТІВ ВНЗ</title>
</head>
<body>
    <table class="table">
        <h1 align="center">Вітаємо Вас, на нашому WEB-додатку!</h1>
        <br>
        <div align="center">
            <img src="~/Content/themes/administrator.jpg" />
        </div>

        
    </table>
</body>
</html>