
<h2>Autorization</h2>


    <fieldset>
        <legend>Введіть логін</legend>
        Логін: <br /> <input type="text" name="Name" maxlength="50" />
        <br />
        Пароль: <br />
        <textarea name="Message" rows="1" maxlength="50"></textarea>
        <br />
        <input type="submit" value="Ввійти" />
    </fieldset>

